<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsoft.xc.ar.mapper.ArCancelBaseMapper">
<!-- 添加核销单信息 -->
<insert id="addArCancelHInfo" parameterType="com.xzsoft.xc.ar.modal.ArCancelHBean">
insert into xc_ar_cancel_h (
  AR_CANCEL_H_ID,
  AR_CANCEL_H_CODE,
  LEDGER_ID,
  AR_CANCEL_TYPE,
  GL_DATE,
  SRC_ID,
  SRC_AMT,
  V_HEAD_ID,
  V_STATUS,
  DESCRIPTION,
  VERIFIER_ID,
  VERFY_DATE,
  CREATION_DATE,
  CREATED_BY,
  LAST_UPDATE_DATE,
  LAST_UPDATED_BY) 
  values (
    #{AR_CANCEL_H_ID,jdbcType=VARCHAR},
    #{AR_CANCEL_H_CODE,jdbcType=VARCHAR},
    #{LEDGER_ID,jdbcType=VARCHAR},
    #{AR_CANCEL_TYPE,jdbcType=VARCHAR},
    #{GL_DATE,jdbcType=TIMESTAMP},
    #{SRC_ID,jdbcType=VARCHAR},
    #{SRC_AMT,jdbcType=NUMERIC},
    #{V_HEAD_ID,jdbcType=VARCHAR},
    #{V_STATUS,jdbcType=VARCHAR},
    #{DESCRIPTION,jdbcType=VARCHAR},
    #{VERIFIER_ID,jdbcType=VARCHAR},
    #{VERFY_DATE,jdbcType=TIMESTAMP},
    #{CREATION_DATE,jdbcType=TIMESTAMP},
   	#{CREATED_BY,jdbcType=VARCHAR},
  	#{LAST_UPDATE_DATE,jdbcType=TIMESTAMP},
   	#{LAST_UPDATED_BY,jdbcType=VARCHAR})
</insert>
<!-- 更新核销单信息 -->
<update id="editArCancelHInfo" parameterType="com.xzsoft.xc.ar.modal.ArCancelHBean">
update xc_ar_cancel_h set 
AR_CANCEL_H_CODE = #{AR_CANCEL_H_CODE,jdbcType=VARCHAR},
LEDGER_ID = #{LEDGER_ID,jdbcType=VARCHAR},
AR_CANCEL_TYPE = #{AR_CANCEL_TYPE,jdbcType=VARCHAR},
GL_DATE = #{GL_DATE,jdbcType=TIMESTAMP},
SRC_ID = #{SRC_ID,jdbcType=VARCHAR},
SRC_AMT = #{SRC_AMT,jdbcType=NUMERIC},
DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
LAST_UPDATE_DATE = #{LAST_UPDATE_DATE,jdbcType=TIMESTAMP},
LAST_UPDATED_BY = #{LAST_UPDATED_BY,jdbcType=VARCHAR} 
where AR_CANCEL_H_ID = #{AR_CANCEL_H_ID,jdbcType=VARCHAR}
</update>
<!-- 查询核销单是否审核通过 -->
<select id="isVerify" parameterType="java.lang.String">
SELECT 1 FROM xc_ar_cancel_h WHERE AR_CANCEL_H_ID = #{AR_CANCEL_H_ID,jdbcType=VARCHAR} AND V_STATUS >=3
</select>
<!-- 查询核销单主表信息 -->
<select id="getArCancelInfo" parameterType="java.lang.String" resultType="com.xzsoft.xc.ar.modal.ArCancelHBean">
select * from xc_ar_cancel_h where AR_CANCEL_H_ID = #{AR_CANCEL_H_ID,jdbcType=VARCHAR}
</select>
<!-- 更新应收单金额 -->
<update id="updateArInvGlHAmt" parameterType="java.util.HashMap">
update xc_ar_inv_gl_h set 
CANCEL_AMT = CANCEL_AMT + #{TARGET_AMT,jdbcType=NUMERIC},
NO_PAY_AMT=NO_PAY_AMT - #{TARGET_AMT,jdbcType=NUMERIC},
PAID_AMT = PAID_AMT + #{TARGET_AMT,jdbcType=NUMERIC}
WHERE AR_INV_GL_H_ID = #{AR_INV_GL_H_ID,jdbcType=VARCHAR} 
</update>
<!-- 更新应付单金额 -->
<update id="updateApInvGlHAmt" parameterType="java.util.HashMap">
update xc_ap_inv_gl_h set 
CANCEL_AMT = CANCEL_AMT + #{TARGET_AMT,jdbcType=NUMERIC},
NO_PAY_AMT=NO_PAY_AMT - #{TARGET_AMT,jdbcType=NUMERIC},
PAID_AMT = PAID_AMT + #{TARGET_AMT,jdbcType=NUMERIC}
WHERE AP_INV_GL_H_ID = #{AP_INV_GL_H_ID,jdbcType=VARCHAR} 
</update>
<!-- 更新预收单金额 -->
<update id="updatePayLAmt" parameterType="java.util.HashMap">
update xc_ar_pay_l set CANCEL_AMT = CANCEL_AMT + #{AMOUNT,jdbcType=NUMERIC},
NO_CANCEL_AMT = NO_CANCEL_AMT - #{AMOUNT,jdbcType=NUMERIC}
where AR_PAY_H_ID = #{AR_PAY_H_ID,jdbcType=VARCHAR}
</update>
<!-- 添加交易明细表信息 -->
<insert id="addInvTrans" parameterType="com.xzsoft.xc.apar.modal.ArInvTransBean">
INSERT INTO xc_ar_inv_trans (
                  TRANS_ID,
                  SOURCE_ID,
                  SOURCE_DTL_ID,
                  AR_INV_GL_H_ID,
                  AR_PAY_H_ID,
                  GL_DATE,
                  SOURCE_TAB,
                  AR_DOC_CAT_CODE,
                  AR_CONTRACT_ID,
                  CUSTOMER_ID,
                  DR_AMT,
                  CR_AMT,
                  TRANS_STATUS,
                  CREATION_DATE,
                  CREATED_BY,
                  LAST_UPDATE_DATE,
                  LAST_UPDATED_BY,
                  AR_DOC_CODE,
                  DESCRIPTION) 
                  VALUES 
                  (#{TRANS_ID,jdbcType=VARCHAR},
                  #{SOURCE_ID,jdbcType=VARCHAR},
                  #{SOURCE_DTL_ID,jdbcType=VARCHAR},
                  #{AR_INV_GL_H_ID,jdbcType=VARCHAR},
                  #{AR_PAY_H_ID,jdbcType=VARCHAR},
                  #{GL_DATE,jdbcType=TIMESTAMP},
                  #{SOURCE_TAB,jdbcType=VARCHAR},
                  #{AR_DOC_CAT_CODE,jdbcType=VARCHAR},
                  #{AR_CONTRACT_ID,jdbcType=VARCHAR},
                  #{CUSTOMER_ID,jdbcType=VARCHAR},
                  #{DR_AMT,jdbcType=NUMERIC},
                  #{CR_AMT,jdbcType=NUMERIC},
                  '0',
                  #{CREATION_DATE,jdbcType=TIMESTAMP},
                  #{CREATED_BY,jdbcType=VARCHAR},
                  #{LAST_UPDATE_DATE,jdbcType=TIMESTAMP},
                  #{LAST_UPDATED_BY,jdbcType=VARCHAR},
                  #{AR_DOC_CODE,jdbcType=VARCHAR},
                  #{DESCRIPTION,jdbcType=VARCHAR})
                 
</insert>

<!-- 删除交易明细表信息 -->
<delete id="delInvTransInfo" parameterType="java.util.HashMap">
delete from xc_ar_inv_trans where SOURCE_ID = #{AR_CANCEL_H_ID,jdbcType=VARCHAR} and SOURCE_DTL_ID = #{AR_CANCEL_L_ID,jdbcType=VARCHAR}
</delete>
<!-- 修改交易明细表信息 -->
<update id="editInvTrans" parameterType="com.xzsoft.xc.apar.modal.ArInvTransBean">
update xc_ar_inv_trans
            set DR_AMT = #{DR_AMT,jdbcType=NUMERIC},
            CR_AMT = #{CR_AMT,jdbcType=NUMERIC},
            DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
            LAST_UPDATE_DATE = #{LAST_UPDATE_DATE,jdbcType=TIMESTAMP},
            LAST_UPDATED_BY = #{LAST_UPDATED_BY,jdbcType=VARCHAR}
            where SOURCE_ID= #{SOURCE_ID,jdbcType=VARCHAR}
            and SOURCE_TAB = #{SOURCE_TAB,jdbcType=VARCHAR}
            and SOURCE_DTL_ID = #{SOURCE_DTL_ID,jdbcType=VARCHAR}
</update>
<!-- 插入应付交易明细 -->
	<insert id="addApInvTrans" parameterType="com.xzsoft.xc.apar.modal.ApInvTransBean">
		INSERT INTO
		xc_ap_inv_trans (
		TRANS_ID,
		SOURCE_ID,
		SOURCE_DTL_ID,
		AP_INV_GL_H_ID,
		AP_PAY_H_ID,
		GL_DATE,
		SOURCE_TAB,
		AP_DOC_CAT_CODE,
		AP_CONTRACT_ID,
		VENDOR_ID,
		DR_AMT,
		CR_AMT,
		TRANS_STATUS,
		CREATION_DATE,
		CREATED_BY,
		LAST_UPDATE_DATE,
		LAST_UPDATED_BY,
		AP_DOC_CODE,
		DESCRIPTION
		) VALUES (
		#{TRANS_ID,jdbcType=VARCHAR},
		#{SOURCE_ID,jdbcType=VARCHAR},
		#{SOURCE_DTL_ID,jdbcType=VARCHAR},
		#{AP_INV_GL_H_ID,jdbcType=VARCHAR},
		#{AP_PAY_H_ID,jdbcType=VARCHAR},
		#{GL_DATE,jdbcType=VARCHAR},
		#{SOURCE_TAB,jdbcType=VARCHAR},
		#{AP_DOC_CAT_CODE,jdbcType=VARCHAR},
		(select AP_CONTRACT_ID from xc_ap_inv_gl_h b
		where b.AP_INV_GL_H_ID =
		#{AP_INV_GL_H_ID,jdbcType=VARCHAR}),
		(select
		VENDOR_ID from xc_ap_inv_gl_h b where b.AP_INV_GL_H_ID =
		#{AP_INV_GL_H_ID,jdbcType=VARCHAR}),
		#{DR_AMT,jdbcType=VARCHAR},
		#{CR_AMT,jdbcType=VARCHAR},
		'0',
		#{CREATION_DATE,jdbcType=TIMESTAMP},
		#{CREATED_BY,jdbcType=VARCHAR},
		#{LAST_UPDATE_DATE,jdbcType=TIMESTAMP},
		#{LAST_UPDATED_BY,jdbcType=VARCHAR},
		#{AP_DOC_CODE,jdbcType=VARCHAR},
		#{DESCRIPTION,jdbcType=VARCHAR}
		)
	</insert>
<!-- 修改应付交易明细 -->
<update id="editApInvTrans" parameterType="com.xzsoft.xc.apar.modal.ApInvTransBean">
update xc_ap_inv_trans
            set DR_AMT = #{DR_AMT,jdbcType=NUMERIC},
            DESCRIPTION = #{DESCRIPTION,jdbcType=VARCHAR},
            LAST_UPDATE_DATE = #{LAST_UPDATE_DATE,jdbcType=TIMESTAMP},
            LAST_UPDATED_BY = #{LAST_UPDATED_BY,jdbcType=VARCHAR}
            where SOURCE_ID= #{SOURCE_ID,jdbcType=VARCHAR}
</update>
<!-- 删除应付交易明细 -->
<delete id="delApInvTransInfo" parameterType="java.util.HashMap">
delete from xc_ap_inv_trans where SOURCE_ID = #{AP_CANCEL_H_ID,jdbcType=VARCHAR} and SOURCE_DTL_ID = #{AP_CANCEL_L_ID,jdbcType=VARCHAR}
</delete>
<!-- 通过核销单主表ID,行表的目标单据ID查询核销单行表信息 -->
<select id="getCancelLInfo" parameterType="java.util.HashMap" resultType="com.xzsoft.xc.ar.modal.ArCancelLBean">
select * from xc_ar_cancel_l where AR_CANCEL_H_ID = #{AR_CANCEL_H_ID,jdbcType=VARCHAR} and TARGET_ID = #{TARGET_ID,jdbcType=VARCHAR} 
</select>
<!-- 通过核销单主表ID查询核销单行表信息 -->
<select id="getCancelLByHId" parameterType="java.lang.String" resultType="java.util.HashMap">
select * from xc_ar_cancel_l where AR_CANCEL_H_ID = #{AR_CANCEL_H_ID,jdbcType=VARCHAR}  
</select>
<!-- 通过核销单行表ID查询核销单行表信息 -->
<select id="getCancelLByLId" parameterType="java.lang.String" resultType="com.xzsoft.xc.ar.modal.ArCancelLBean">
select * from xc_ar_cancel_l where AR_CANCEL_L_ID = #{AR_CANCEL_L_ID,jdbcType=VARCHAR}  
</select>
<!-- 添加核销单行表信息 -->
<insert id="addCancelLInfo" parameterType="com.xzsoft.xc.ar.modal.ArCancelLBean">
insert into xc_ar_cancel_l(AR_CANCEL_L_ID,
						   AR_CANCEL_H_ID,
						   AR_CANCEL_TYPE,
						   TARGET_ID,
						   TARGET_AMT,
						   CREATION_DATE,
						   CREATED_BY,
						   LAST_UPDATE_DATE,
						   LAST_UPDATED_BY)
values(#{AR_CANCEL_L_ID,jdbcType=VARCHAR},
		#{AR_CANCEL_H_ID,jdbcType=VARCHAR},
		#{AR_CANCEL_TYPE,jdbcType=VARCHAR},
		#{TARGET_ID,jdbcType=VARCHAR},
		#{TARGET_AMT,jdbcType=NUMERIC},
		#{CREATION_DATE,jdbcType=TIMESTAMP},
		#{CREATED_BY,jdbcType=VARCHAR},
		#{LAST_UPDATE_DATE,jdbcType=TIMESTAMP},
		#{LAST_UPDATED_BY,jdbcType=VARCHAR})
</insert>
<!-- 更新核销单行表信息 -->
<update id="editCancelLInfo" parameterType="com.xzsoft.xc.ar.modal.ArCancelLBean">
update xc_ar_cancel_l 
set
TARGET_AMT = #{TARGET_AMT,jdbcType=NUMERIC}
where TARGET_ID = #{TARGET_ID,jdbcType=VARCHAR}
and
AR_CANCEL_H_ID = #{AR_CANCEL_H_ID,jdbcType=VARCHAR}
</update>
<!-- 删除核销单行表信息 -->
<delete id="delCancelLInfo" parameterType="java.lang.String">
delete from xc_ar_cancel_l
where AR_CANCEL_L_ID = #{AR_CANCEL_L_ID,jdbcType=VARCHAR}
</delete>
</mapper>