<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsoft.xc.st.mapper.XcStAuditMapper">
	
	<!-- 更新审批流程实例编码 -->
	<update id="updateXcStInsCode" parameterType="java.util.HashMap">
		UPDATE xc_st_use_apply_h
			SET INS_CODE = #{insCode,jdbcType=VARCHAR}
		WHERE
			USE_APPLY_H_ID = #{bizId}
	</update>
	
	<!-- 更新审批流程审批状态  -->
	<update id="updateXcStAuditStatus" parameterType="java.util.HashMap">
        UPDATE xc_st_use_apply_h
			SET AUDIT_STATUS = #{bizStatusCat,jdbcType=VARCHAR},
			AUDIT_STATUS_DESC = #{bizStatusCatDesc,jdbcType=VARCHAR},
			<if test="bizStatusCat == 'A'.toString() or bizStatusCat == 'R'.toString() or bizStatusCat == 'D'.toString()  ">
				SYS_AUDIT_STATUS = 'A',
				SYS_AUDIT_STATUS_DESC = '草稿'
			</if>
			<if test="bizStatusCat == 'C'.toString() ">
				SYS_AUDIT_STATUS = 'C',
				SYS_AUDIT_STATUS_DESC = '审批中'
			</if>
			<if test="bizStatusCat == 'E'.toString() ">
				SYS_AUDIT_STATUS = 'E',
				SYS_AUDIT_STATUS_DESC = '审批通过'
			</if>
		WHERE
			USE_APPLY_H_ID = #{bizId}
	</update>
	
	<!-- 更新流程审批通过日期 -->
	<update id="updateXcStAuditDate" parameterType="java.util.HashMap">
        UPDATE xc_st_use_apply_h
          <if test="dbType == 'mysql' " >
            	SET AUDIT_DATE = CURRENT_TIMESTAMP() 
          </if>
          <if test="dbType == 'oracle' " >
				SET AUDIT_DATE = sysdate 
		  </if>
		WHERE
			USE_APPLY_H_ID = #{bizId} 
	</update>
	
	<!-- 审批通过之后执行撤回，更新单据信息 -->
	<update id="revokeXcStCompleteProcess" parameterType="java.util.HashMap">
		UPDATE xc_st_use_apply_h SET
			AUDIT_STATUS = 'D',
			AUDIT_STATUS_DESC = '驳回',
			AUDIT_DATE = NULL,
			SYS_AUDIT_STATUS = 'A',
			SYS_AUDIT_STATUS_DESC = '草稿'
		WHERE
			USE_APPLY_H_ID = #{bizId}
	</update>
</mapper>