<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cubedrive.base.persistence.document.DocumentConfigMapper">

	<resultMap id="documentConfigMap" type="com.cubedrive.base.domain.document.DocumentConfig">
		<id column="config_id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="ctype" property="ctype" jdbcType="VARCHAR" />
		<result column="content" property="json" jdbcType="VARCHAR" />
		<association property="documentFile"
			select="com.cubedrive.base.persistence.document.DocumentFileMapper.getById" column="document_id" />
	</resultMap>

	<sql id="base_column_list">
		document_config.config_id,
		document_config.name,
		document_config.ctype,
		document_config.content,
		document_config.document_id
	</sql>

	<insert id="insert">
		<selectKey resultType="java.lang.Integer" keyProperty="documentConfig.id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into
		document_config(name, ctype, content, document_id)
		values(#{documentConfig.name,jdbcType=VARCHAR},
		#{documentConfig.ctype,jdbcType=VARCHAR},		
        #{documentConfig.json,jdbcType=VARCHAR},
		#{documentConfig.documentFile.id,jdbcType=INTEGER})
	</insert>

	<insert id="batchInsert">
		insert into document_config(name, ctype, content, document_id) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.name,jdbcType=VARCHAR},#{item.ctype,jdbcType=VARCHAR},#{item.json,jdbcType=VARCHAR},#{item.documentFile.id,jdbcType=INTEGER})
		</foreach>
	</insert>
	

	<update id="updateByConfig">
		update document_config
		set name = #{documentConfig.name,jdbcType=VARCHAR},
		where config_id = #{documentConfig.id,jdbcType=INTEGER}
	</update>

    <update id="update">
		update document_config
		set content = #{json,jdbcType=VARCHAR}		    
		where document_id = #{documentId,jdbcType=INTEGER}
		  AND name = #{name,jdbcType=VARCHAR}
		  AND ctype = #{cType,jdbcType=VARCHAR} 
	</update>
	
	<delete id="delete">
		delete from document_config
		where document_id = #{documentId,jdbcType=INTEGER}
		  AND name = #{name,jdbcType=VARCHAR}
		  AND ctype = #{cType,jdbcType=VARCHAR} 
	</delete>
	
	<delete id="clean">
		delete from document_config
		 where document_id = #{documentId,jdbcType=INTEGER}
	</delete>

	<select id="getById" parameterType="java.lang.Integer"
		resultMap="documentConfigMap">
		select
		<include refid="base_column_list" />
		from document_config where config_id = #{configId}
	</select>

	<select id="find" resultMap="documentConfigMap">
		select
		<include refid="base_column_list" />
		from document_config
		where document_id = #{documentId}
	</select>

</mapper>