<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://cxf.apache.org/jaxws 
						http://cxf.apache.org/schemas/jaxws.xsd 
						http://www.springframework.org/schema/beans
				        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> 
	
    <!--
		<bean id="PlatformWSImpl" class="com.xzsoft.xip.platform.service.impl.PlatformWSImpl"/>  
	    <jaxws:endpoint id="PlatformWS" implementor="#PlatformWSImpl" address="/platformWS"/> 
	    <bean id="PlatformPrivateWSImpl" class="com.xzsoft.xip.platform.service.impl.PlatformPrivateWSImpl"/>  
	    <jaxws:endpoint id="PlatformPrivateWS" implementor="#PlatformPrivateWSImpl" address="/PlatformPrivateWS"/> 
    -->   
    
</beans>